﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="emlak._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 246px;
        }
        .auto-style3 {
            height: 23px;
        }
        .auto-style4 {
            width: 610px;
            height: 210px;
        }
        .auto-style5 {
            width: 127px;
        }
        .auto-style6 {
            width: 31px;
        }
        .auto-style7 {
            width: 127px;
            height: 24px;
        }
        .auto-style8 {
            width: 31px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
  
        <table class="auto-style1">
            <tr>
                <td class="auto-style3" colspan="2" style="background-color: #000000">
                    <img alt="" class="auto-style4" src="resim/banner2.jpg" style="width: 1350px" /></td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: #FFFF00">
                    <table>
                        <tr>
                            <td class="auto-style7">
                                <asp:TextBox ID="txtkuladi" runat="server" OnTextChanged="TextBox1_TextChanged" style="margin-bottom: 0px"></asp:TextBox>
                            </td>
                            <td class="auto-style8" rowspan="2">
                                <asp:Button ID="btnGiris" runat="server" Text="Giris" Height="49px" Width="44px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style5">
                                <asp:TextBox ID="txtParola" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style5">&nbsp;</td>
                            <td class="auto-style6">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="auto-style2" style="background-color: #0000FF">&nbsp;</td>
                <td style="background-color: #009933">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: #FF3300">&nbsp;</td>
            </tr>
        </table>
  
    </form>
</body>
</html>
